body {
    background-image: url("/images/vidar-nordli-mathisen-Kuu5mmxkwW4-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover;
    padding: 20px;
}

.mainApp {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5% 5% 5% 5% / 5% 5% 5% 5%;
    position: absolute;
    left: 260px;
    right: auto;
    top: 5%;
    bottom: 5%;
    height: 90%;
    width: 60%;
    z-index: -1;
    text-align: center;
}

.clock-data {
    text-align: center;
    margin-top: 30px;
    color: gainsboro;
}

.clock, .weather, .anecdote {
    position: fixed;
    right: 2%;
    text-align: center;
    height: 20%;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5% 5% 5% 5% / 5% 5% 5% 5%;
}

.clock {
    top: 5%;
}

.weather {
    top: 30%;
}

.anecdote {
    top: 55%;
}

.hamburger {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
}

.hamburger, .navigation {
    transition: transform .3s .1s ease-in-out;
}

.hamburger--active {
    transform: translatex(250px);
}

.hamburger__box {
    width: 35px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger__inner {
    width: 100%;
    height: 3px;
    background-color: gainsboro;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .3s .1s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: gainsboro;
    position: absolute;
    left: 0;
    transition: transform .3s .2s ease-in-out;
}

.hamburger__inner::before {
    top: -10px;
}

.hamburger__inner::after {
    top: 10px;
}

.hamburger--active .hamburger__inner {
    background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
    transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner::after {
    transform: translateY(-10px) rotate(-45deg);
}

.navigation {
    height: 100vh;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-250px);
}

.navigation--active {
    transform: translateX(0px);
}

.navigation__list {
    margin-top: 10px;
    list-style: none;
}

.navigation__item {
    margin-bottom: 20px;
}

a, h1, h5 {
    text-decoration: none;
    color: white;
}

span, label{
    color: gainsboro;
}
#participants.errors{
    color: red;
}
table{
    text-align: center;
    margin: auto;
}