
body {
    background-image: url("/images/jake-blucker-OJX7gIU3E6U-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover;
}

label {
    font-family: cursive;
    font-size: 50px;
    color: #A6A674;
}

.container {
    box-sizing: border-box;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-left: 700px;
    margin-top: 200px;
    border-radius: 5% 5% 5% 5% / 5% 5% 5% 5%;

}

.logo_start {
    margin-left: 50px;
}

.container_start {
    box-sizing: border-box;
    margin-left: -60px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    display: inline;
    text-align: center;
    color: #A6A674;
    border-radius: 5% 5% 5% 5% / 5% 5% 5% 5%;
}

.main {
    padding: 85px;
    box-sizing: border-box;
    flex-direction: row;
    display: inline-flex;
    align-content: center;
    margin-top: 80px;
}

h3{
    color: gainsboro;
}
.registry{
    box-sizing: border-box;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-left: 500px;
    text-align: center;
    border-radius: 5% 5% 5% 5% / 5% 5% 5% 5%;
}
.mainR {
    padding: 85px;
    box-sizing: border-box;
    flex-direction: row;
    display: inline-flex;
    align-content: center;
    margin-top: -95px;
}
span{
    color: gainsboro;
}
.info{
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 60px;
    border-radius: 5% 5% 5% 5% / 5% 5% 5% 5%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    width: 40em;

}